{% extends 'base-admin.html.twig' %}

{% block title %}Edit BaseEntity{% endblock %}

{% block body %}
    <h1>Edit BaseEntity</h1>

    {{ include('base_entity/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('base_entity_index') }}">back to list</a>

    {{ include('base_entity/_delete_form.html.twig') }}
{% endblock %}
