{% extends 'base.html.twig' %}

{% block title %}Base sous marine{% endblock %}

{% block body %}
<div class="container">
<header class="header">
    <div>
        <p>Base <br/> sous <br/> marine <br/> de Bordeaux</p>
    </div>
</header>
<div class="wrapper">
    <div class="content">
        <p>1</p>
        <h2>Le centre</h2>
        <p>Les espaces d'expositions pilotés par la direction.</p>
    </div>
    <div class="content">
        <p>2</p>
        <h2>Le bassins des lumieres</h2>
        <p>Les espaces d'expositions</p>
    </div>
    <div class="content">
        <p>3</p>
        <h2>3eme entité</h2>
        <p>Pilotés par la direction.</p>
    </div>
</div>
</div>

{% endblock %}
