html, * {
    box-sizing: border-box;
}

html * {cursor:none!important}

.cursor {
    width: var(--size);
    height: var(--size);
    position: fixed;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 100;
}
.cursor--large {
    --size: 70px;
    mix-blend-mode: difference;
    border: 1px solid white;
}
.cursor--small {
    border-radius: 50%;
    mix-blend-mode: difference;
    --size: 8px;
    background: white;
}
a:hover {
    cursor: none !important;
}

.loader{
    height: 10px;
    background-color: black;
    position: absolute;
}
.loader-wrapper {
    display: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: #1E1D1C;
    position: absolute;
    top: 0;
    z-index: 100;
}

.transparent {
    opacity: 0;
    background-color: white;
}

.app-wrapper {
    background-color: #1E1D1C;
    z-index: 10;
    transition: opacity ease-in 0.3s;
}

body {
    background-color: #1E1D1C;
    font-family: 'Gotham', sans-serif;
}
body::-webkit-scrollbar {
    display: none;
}

.container {
    color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    padding-left: 20px;
    width: calc(100% - 40px);
    z-index: 90;
}

.logo__image {
    width: 100px;
    height: auto;
}
.translation {
    display: flex;
    align-items: center;
}

.translation__text {
    font-family: 'Gotham Pro', sans-serif;
    text-transform: uppercase;
}

.translation__button {
    text-transform: uppercase;
}

.translation__button {
    background-color: transparent;
    border: 0;
    color: #fff;
}

.nav {
    display: flex;
    align-items: center;
}

.history__button {
    border: 0;
    background-color: transparent;
}

.history__image {
    width: 27px;
    height: auto;
}

.history__text {
    display: none;
}

.history__container {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1E1D1C;
    z-index: 100;
    display: none;
    padding: 20px;
    width: 100vw;
}

.history__container.active {
    display: block;
}

.history__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.history__close {
    width: 20px;
    height: 20px;
}

.history__content {
}

.entities {
    flex: 2;
}

.entities__image {
    width: 100%;
    display: none;
}
.entities__image-explanation {
    width: 100%;
}

.explanation {
    flex: 1;
    text-align: right;
    color: #707070;
    padding-bottom: 100px;
    /*z-index: 40;*/
}

.explanation__title {
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 500;
    margin-top: 70px;
}

.explanation__subtitle {
    font-size: 26px;
    font-weight: 500;
    margin-top: 70px;
    margin-bottom: 0;
}

.wrapper {
    min-height: 100%;
}

.content {
    width: 100%;
    position: absolute;
    height: calc(100vh - 100px);
    top: 80px;
    left: 0;
    background-color: #1E1D1C;
    padding: 0 150px;
}

.content__image {
    width: 80%;
    position: absolute;
    top: 0;
    left:0;
}

.content__logo {
    margin-top: 100px;
    margin-left: 30px;
    border: 1px solid #000;
}

.numbers {
    position: absolute;
    top: 20px;
    right: 90px;
    display: flex;
    flex-direction: column;
    z-index: 20;
}

.numbers__image{
    height: 220px;
    width: auto;
}
.numbers__reflect {
    height: 220px;
    width: auto;
    z-index: 20;
}

.content__text-wrapper {
    text-align: right;
    border: 1px solid #000;
    /*z-index: 50;*/
    margin: 80px 0 50px 70px;
}

.content__title {
    color: #fff;
    font-size: 34px;
    font-weight: 400;
    line-height: 35px;
}

.content__description {
    color: #FFFFFF;
    line-height: 18px;
    font-size: 16px;
    font-weight: 400;
}

.current {
    margin-top: 70px;
    /*z-index: 10;*/
}

.current__content {
    position: absolute;
    left: 0;
    bottom: 20px;
    text-align: left;
}

.current__title-container {
    min-width: 70px;
    min-height: 70px;
    max-width: 70px;
    max-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.current__title {
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 0;
    color: #0a0a0a;
    margin-left: 5px;
}

.current__text {
    font-size: 12px;
    margin-top: 20px;
    max-width: 150px;
}
.current__plan {
    display: none!important;
}

.arrow.one {
    position: absolute;
    top: calc(40% - 150px);
    left: -130px;
    display: flex;
    opacity: 0;
    z-index: 21;
    padding-top: 150px;
    border: 0;
    background-color: transparent;
}


.arrow.next.two {
    position: absolute;
    top: calc(40% - 150px);
    left: calc(100vw - 300px);
    display: flex;
    opacity: 1;
    z-index: 21;
    padding-top: 150px;
    border: 0;
    background-color: transparent;
    width: 120px;
}
.numbers.two {
     right: calc(-50vw + 50px);
     top: 200px;
     opacity: 1;
     z-index: 20;
 }
.numbers__image.two {
    height: 100px;
}
.numbers__reflect.two {
    height: 100px;
    opacity: 0;
}
.numbers.twocheh {
    right: 50px;
    top: 200px;
    opacity: 0;
    z-index: 20;
}
.numbers__image.twocheh {
    height: 350px;
}
.numbers__reflect.twocheh {
    height: 350px;
}


.content__image.two {
    opacity: 0;
}
.content__logo.two {
    opacity: 0;
}
.content__text-wrapper.two {
    opacity: 0;
}

.arrow.next.three {
    position: absolute;
    top: calc(40% - 150px);
    left: calc(100vw - 300px);
    display: flex;
    opacity: 1;
    z-index: 21;
    padding-top: 150px;
    border: 0;
    background-color: transparent;
    width: 120px;
}
.numbers.three{
    right: calc(-50vw + 50px);
    top: 200px;
    opacity: 0;
    z-index: 20;
}
.numbers__image.three {
    height: 100px;
    opacity: 0;
}
.numbers__reflect.three {
    height: 100px;
    opacity: 0;
}

.content__image.three {
    opacity: 0;
}
.content__logo.three {
    opacity: 0;
}
.content__text-wrapper.three {
    opacity: 0;
}

.dots {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 20px;
    right: 0;
    margin: 0;
    list-style-type: none;
}
.dots li button {
    text-indent: -9999px;
    overflow: hidden;
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    background-color: transparent;
    border-radius: 50px;
    margin: 0 5px 0 5px;
}
.dots li.slick-active button {
    background-color: #fff;
}
@media only screen and (min-width: 768px) {
    .logo__image {
        width: 150px;
        height: auto;
    }

    .history__button {
        display: flex;
        align-items: center;
        margin-right: 30px;
    }

    .history__image {
        width: 27px;
        height: auto;
    }

    .history__text {
        display: block;
        font-size: 18px;
        font-weight: 400;
        margin-left: 10px;
        color: #fff;
        margin-top: 10px;
        margin-bottom: 0;
    }


    .history__content {
        margin-top: 100px;
        display: flex;
        padding: 0 100px;
    }

    .explanation {
        flex: 1;
        text-align: right;
        margin-left: 50px;
        color: #707070;
    }


    .entities__image {
        display: block;
    }
    .entities__image-explanation {
        display: none;
    }

    .explanation__title {
        text-transform: uppercase;
        font-size: 34px;
        font-weight: 500;
        margin-top: 0;
    }

    .explanation__subtitle {
        font-size: 30px;
        font-weight: 500;
        margin-top: 70px;
        margin-bottom: 0;
    }

    .content__container {
        display: flex;
        min-height: calc(100vh - 100px);

    }
    .images__container{
        position: relative;
        flex: 1;
    }

    .content__image {
        position: relative;
        width: 100%;
        max-height: calc(100vh - 100px);
        z-index: 1;
    }

    .content__logo {
        position: absolute;
        top: 40%;
        left: 100px;
        margin-top: 0px;
        margin-left: 0px;
        border: 1px solid #000;
        z-index: 30;
    }

    .numbers {
        position: absolute;
        right: 50px;
        top: 200px;
    }
    .numbers__image{
        height: 350px;
        width: auto;
    }
    .numbers__reflect {
        height: 350px;
        width: auto;
    }
    .content__text-wrapper {
        text-align: right;
        border: 1px solid #000;
        z-index: 50;
        margin: 0;
        flex: 1;
    }

    .content__text {
        margin-left: 120px;
        margin-right: 20px;
    }

    .current {
        margin-top: 70px;
    }

    .current__content {
        display: flex;
        text-align: left;
    }

    .current__title-container {
        min-width: 70px;
        min-height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
    }
    .current__title {
        font-size: 12px;
        margin-top: 5px;
        margin-bottom: 0;
        color: #0a0a0a;
        margin-left: 5px;
    }

    .current__text {
        font-size: 12px;
        margin-left: 15px;
        margin-top: 20px;
    }
    .current__plan {
        display: block;
        width: 100%;
        height: auto;
        margin-left: 72px;
    }
}

@media only screen and (max-width: 768px) {
    .content {
        position: relative;
        height: initial;
        padding: 0;
        width: initial;
    }
    .arrow {
        display: none!important;
    }


    .content__image.three {
        opacity: 1;
    }
    .content__logo.three {
        opacity: 1;
    }
    .content__text-wrapper.three {
        opacity: 1;
    }
    .content__image.two {
        opacity: 1;
    }
    .content__logo.two {
        opacity: 1;
    }
    .content__text-wrapper.two {
        opacity: 1;
    }
}



















